h1,
h2 {
  line-height: 1.5;
}

h3 {
  text-align: center;
  margin-bottom: 0;
}

/*********** Home Page ***********/

.welcome-container {
  background-color: #252934;
  text-align: center;
  padding: 17rem;
}

.welcome-text {
  color: white;
}

.name {
  color: #e81c6a;
}

.learn-more {
  color: white;
  border: 2px solid white;
  width: 10.5rem;
  padding: 0.8rem 0 0.8rem 1.5rem;
  margin: 2rem auto 0 auto;
}

.learn-more:hover {
  background-color: #04c2c7;
  border-color: #04c2c7;
  transition: 500ms ease;
  color: white;
}

.btn {
  border-radius: 0%;
  display: flex;
}

.btn-icon {
  flex-grow: 0;
  margin: auto;
  filter: invert(100%);
}

/*********** Navigation Bar ***********/

.nav {
  background-color: #1b242f;
}

.navbar-nav {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 50%;
  text-align: center;
}

*,
::after,
::before {
  flex-grow: 1;
  flex-basis: 0;
}

.navbar-expand .navbar-nav .nav-link {
  color: white;
  padding: 0.5rem 0;
}

.navbar-expand .navbar-nav .nav-link:hover {
  color: #e81c6a;
  transition: 500ms ease;
}

.nav-accent {
  border-top: 4px solid #04c2c7;
  margin-top: 0;
}

.title-underline {
  width: 5%;
  border-top: 4px solid #e81c6a;
  margin-top: 0.5rem;
}

.title {
  margin-bottom: 60px;
}

/*********** About ***********/

.about-container {
  padding: 3rem;
}

.skills {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.skill-card {
  text-align: center;
  margin: 1rem;
}

.card-top {
  padding: 0 1.5rem;
}

.skill-icon-container {
  background-color: #04c2c7;
  border-radius: 50%;
  margin: 1.5rem;
  padding: 2rem;
}

.skill-icon {
  filter: invert(100%);
  height: 3rem;
  width: 3rem;
}

.short-card {
  padding: 0 2.5rem;
}

.personal-desc {
  display: flex;
  text-align: center;
  margin: 2rem;
  padding: 2rem;
}

.profile-img {
  height: 25rem;
  box-shadow: 0 0 8px 8px white inset;
}

/*********** Footer ***********/

.empty-container {
  height: 15rem;
}

footer {
  text-align: center;
  color: white;
  background-color: #1b242f;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 50px;
}

.social-media {
  display: flex;
  width: 22rem;
  margin: auto;
  padding-bottom: 20px;
}

.social-icon-container {
  padding: 15px 0px;
  margin: 15px;
  background-color: #252934;
}

.social-icon-container:hover {
  background-color: #04c2c7;
  cursor: pointer;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.footer-copyright {
  margin-bottom: 0;
}

.year {
  color: #e81c6a;
}
